h3{
    color: red;
}
div{
    font-size: 20px;
    color: blue;    
    width: 200px;
    border: 50px solid blue;
    margin: 100px  ;
    padding: 20px;
} 

@media only screen and (max-width: 600px) {
    div{
        font-size: 15px;
        color: green;    
        width: 150px;
        border: 30px solid green;
        margin: 50px  ;
        padding: 10px;
    } 
}